#splash {
    display: flex;
    justify-content: center;
    align-content: space-around;
}

img {
    display: flex;
    justify-content: center;
    align-content: center;
}

@media only screen and (max-width: 600px) {
    image {
        width: 400px;
    }